<div class="container-fluid">
    <form class="mx-auto">
        <h4 class="text-center">Login</h4>
        <div class="mb-3 mt-5">
            <label class="form-label">Email</label>
            <input type="email" [(ngModel)]="loginReq.email" name="email" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Senha</label>
            <input type="password" [(ngModel)]="loginReq.password" name="password" class="form-control">
            <div class="form-text mt-3">Esqueci minha senha.</div>
        </div>
        <button type="submit" class="btn btn-primary mt-5" (click)="onLogin()">Login</button>
        <p class="register">Não tem uma conta? Crie aqui</p>
    </form>
</div>