<mat-expansion-panel hideToggle *ngFor="let chapter of chapters; index as i">
    <mat-expansion-panel-header>
        <mat-panel-title> {{chapter.title}}</mat-panel-title>
        <mat-panel-description> {{chapter.videos.length}} aulas</mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngFor="let video of chapter.videos">
        <mat-card appearance="outlined">
            <mat-card-content class="video-card">
                <mat-icon>play_arrow</mat-icon>
                <p>{{ video.title }}</p>
                <span>
                    <mat-icon>access_time_filled</mat-icon> 00:13:02
                </span>
            </mat-card-content>
        </mat-card>
    </div>
</mat-expansion-panel>