<app-header></app-header>

<div class="text-container">
    <div class="heading">
        <h1>Aprenda <br>com os melhores!</h1>
        <span class="heading-border"></span>
    </div>
    <p>
        Uma ampla seleção de cursos e os melhores professores
        para você se especializar!
    </p>
</div>

<div class="category-container">
    <app-tabs [tabsArray]="tabs" (onTabChange)="onCategoryClick($event)"></app-tabs>
    <div class="cards-container">
        <div class="cards-heading">
            <h2>
                Desenvolva suas habilidades de programação em {{ selectedCategory }}
            </h2>
            <span>Ver mais</span>
        </div>
        <div class="row">
            <div class="col" *ngFor="let course of courses">
                <app-card class="card" [course]="course"></app-card>
            </div>
        </div>
    </div>
</div>

