<app-header></app-header>
<div class="container">
    <div class="course-info">
        <div class="row">
            <div class="col">
                <div class="course-image-container">
                    <span class="header">Imagem do curso</span>
                    <form action="#" class="upload-area">
                        <i class="material-icons">cloud_upload</i>
                        <p>Enviar arquivo</p>
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="course-form-container">
                    <div class="row">
                        <mat-form-field>
                            <mat-label>Título</mat-label>
                            <input matInput>
                          </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field>
                            <mat-label>Categoria</mat-label>
                            <mat-select>
                              <mat-option value="one">First option</mat-option>
                              <mat-option value="two">Second option</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field>
                            <mat-label>Descrição</mat-label>
                            <textarea matInput></textarea>
                          </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
